<div class="container-fluid" id="inicio">
  <div class="container container-inicio">
    <div class="row row-inicio">
      <!-- Columna de la izquierda con la imagen -->
      <div class="col-lg-6 izquierda">
        <img src="ruta_de_la_imagen.jpg" class="img-fluid" alt="Imagen" />
        <!-- Botones -->
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-lg mb-2" type="button"
            >Botón 1</button
          >
          <button class="btn btn-secondary btn-lg" type="button">Botón 2</button
          >
        </div>
      </div>

      <!-- Columna de la derecha con las cards y los botones -->
      <div class="col-lg-6 derecha">
        <!-- Cards -->
        <div class="row mb-3">
          <div class="col-6">
            <div class="card">
              <div class="card-body">Contenido de la Card 1</div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">Contenido de la Card 2</div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <div class="card">
              <div class="card-body">Contenido de la Card 3</div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">Contenido de la Card 4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #inicio {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .izquierda {
    background-color: aqua;
  }

  .derecha {
    background-color: blue;
  }
</style>
